* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #474747;
    color: #d6d6d6;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}

header {
    background:  #C70039 ;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

nav {
    background: #292929;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #515151;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px 0;
    margin: 20px 0;
    background: #2e2e2e;
    border-radius: 8px;
}

h2 {
    color: #b60037;
    text-align: center;
    margin-bottom: 20px;
}

.issue {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background: #494949;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #a3002d;
    color: #fff;
}
